.menu-item {
  padding: 0 10px;
  margin: 5px 5px;
  width: 7em;
  text-align: center;
  user-select: none;
  cursor: pointer;
  border: none;
}
.menu-item-wrapper.active {
  border: none;
}
.menu-item.active {
  border: 1px green solid;
}

.scroll-menu-arrow {
  padding: 20px;
  cursor: pointer;
}